[submodule "M4-Automatización-de-pruebas/app-vuelos"]
	path = M4-Automatización-de-pruebas/app-vuelos
	url = https://github.com/cTapiaDev/app_vuelos
[submodule "nivelacion-testing-python"]
	path = nivelacion-testing-python
	url = https://github.com/cTapiaDev/nivelacion-testing-python
[submodule "M4-Automatización-de-pruebas/test-unitarios"]
	path = M4-Automatización-de-pruebas/test-unitarios
	url = https://github.com/cTapiaDev/test-unitarios-java
[submodule "M4-Automatización-de-pruebas/test-unitarios-web"]
	path = M4-Automatización-de-pruebas/test-unitarios-web
	url = https://github.com/cTapiaDev/test-unitarios-web
[submodule "M4-Automatización-de-pruebas/test-rendimiento"]
	path = M4-Automatización-de-pruebas/test-rendimiento
	url = https://github.com/cTapiaDev/test-rendimiento-python
[submodule "M4-Automatización-de-pruebas/selenium-ui-automation"]
	path = M4-Automatización-de-pruebas/selenium-ui-automation
	url = https://github.com/cTapiaDev/selenium-ui-automation
[submodule "M5-Arquitectura-y-Escalabilidad/frontend-app-docker"]
	path = M5-Arquitectura-y-Escalabilidad/frontend-app-docker
	url = https://github.com/cTapiaDev/frontend-app-docker
[submodule "M5-Arquitectura-y-Escalabilidad/kubernetes-app"]
	path = M5-Arquitectura-y-Escalabilidad/kubernetes-app
	url = https://github.com/cTapiaDev/kubernetes-app
[submodule "M5-Arquitectura-y-Escalabilidad/app-localstack"]
	path = M5-Arquitectura-y-Escalabilidad/app-localstack
	url = https://github.com/cTapiaDev/app-localstack-aws-ecr
[submodule "hubot"]
	path = hubot
	url = https://github.com/cTapiaDev/M7-Hubot
[submodule "M7-sitio-hubot"]
	path = M7-sitio-hubot
	url = https://github.com/cTapiaDev/M7-sitio-hubot
